{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/ticket_detail.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
  <title>TicketIt</title>
</head>
<body>
  <!-- START HEADER -->
  <header class="header">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/ticketit_logo1.png' %}" alt="ticketIt logo" class="logo"/>
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a href="#" class="main-nav-link">ABOUT</a></li>
        <li><a href="#" class="main-nav-link">CONTACT</a></li>
        <li><a href="{% url 'logout' %}" class="main-nav-link">LOGOUT</a></li>
        <li><a href="profile.html" class="main-nav-link nav-cta"><i class="fas fa-user-circle"></i></a></li>
      </ul>
    </nav>
  </header>
  <!-- {% include "includes/navbar.html" %} -->
  <!-- END HEADER -->
<!-- MAIN PAGE -->
<!-- Welcome Section -->
<section class="welcome-section">
  <h2>Welcome, {{user.username}}</h2>
</section>
{% for message in messages %}
  <p class="message">{{ message }}</p>
{% endfor %}

<div><a href="javascript:history.back()" class="back-arrow">
  &larr; Back
</a></div>

<section class="flex2">
  <div class="table-container">
    <h2>Recent Complaints</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Sector</th>
          <th>Company</th>
          <th>Status</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
    
        <tr>
          <td>{{ tickets.id }}</td>
          <td>{{ tickets.sector.name }}</td>
          <td>{{ tickets.company }}</td>
          <td>{{ tickets.status }}</td>
          <td>{{ tickets.description }}</td>
          <td>{{ tickets.created_at }}</td>
        </tr>
       
      </tbody>
    </table>
  </div>
</section>

<!-- END MAIN PAGE -->
  <!-- FOOTER -->
  {% include "includes/footer.html"%}
  <!--END FOOTER -->
  
</body>
</html>